@import "tailwindcss";
@plugin "daisyui";
:root {
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --default-font-family: var(--font-inter), var(--font-sans);

  --breakpoint-xs: 30rem;
}

@layer components {
  .heading-secondary {
    @apply text-2xl font-semibold text-[#34485A];
  }
  .heading-tertiary {
    @apply text-xl font-medium text-white;
  }
  .heading-quaternary {
    @apply text-lg font-medium text-[#001931];
  }
}
